<!--site info-->
<div class="mb-5 container-fluid"> <hr> <p> CloudStudying | <a href="#" > Privacy</a> | <a href="#"> Terms</a></p></div>
<sciprt src ="" integrity="" crossorigin="" crossorigin="anonymous"></sciprt>
</body>
</html>